body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

h3 {
    text-align: center;
    margin: 20px 0;
}

/* For index page */
.centering-col {
    padding: 0 20px;
    /* Add some padding for spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* Ensure the column takes up the full height */
}

/* Style for the container holding the two columns */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* For search page */
/* Style for the left column (selected books table) */
.left-column {
    flex: 1;
    margin-right: 20px;
}

/* Style for the right column (search form and results) */
.right-column {
    flex: 2;
}

.books-table {
    width: 100%;
    border-collapse: collapse;
}

.books-table th,
.books-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.books-table th {
    background-color: #f5f5f5;
}

.books-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

form {
    text-align: center;
    margin-bottom: 30px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0px;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

#search-btn {
    margin-left: 0;
}

#abandon-btn {
    display: block;
    margin: 0 auto;
    background-color: firebrick;
    color: white;
}

.total-count {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#results {
    max-width: 500px;
    margin: 0 auto;
}

.result {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.book-cover {
    max-width: 100px;
    height: auto;
    margin: 20px;
}

.result-details {
    flex: 1;
    margin-left: 20px;
}