<!DOCTYPE html>
<html>

<head>
    <title>Books Search</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <h1>Book Search</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col centering-col">
                <h2>Labels A</h2>
                <a href="{{ url_for('search_page_fn', labels_set='a') }}">Search with labels A</a>
            </div>
            <div class="col centering-col">
                <h2>Labels B</h2>
                <a href="{{ url_for('search_page_fn', labels_set='b') }}">Search with labels B</a>
            </div>
        </div>
    </div>
</body>

</html>