<!DOCTYPE html>
<html>

<head>
    <title>Books Search</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Book Search</h1>
    <div class="container-fluid">
        <div class="column centering-col">
            <a href="{{ url_for('index') }}">Back to labels selection</a>
        </div>
    </div>
    <div class="container">
        <div class="left-column">
            <h2>Selected Books</h2>
            <!-- Selected books table -->
            <table id="selected-books-table-{{ request.view_args['labels_set'] }}" class="selected-books-table"></table>
        </div>
        <div class="right-column">
            <h2 id="labels-heading">Search from labels <span style="text-transform:uppercase">{{
                    request.view_args['labels_set'] }}</span></h2>

            <!-- Search form and results -->
            <form id="search-form" action="{{ url_for('search_fn', labels_set=request.view_args['labels_set']) }}" method="get">
                <input type="text" id="search-input" name="q" placeholder="Enter book subject(s)" size="70">
                <button type="submit">Search</button>
            </form>
            <!-- Button to give up searching the book -->
            <button type="button" id="abandon-btn" data-toggle="modal" data-target="#abandonModal">
                Book cannot be found, proceed to next book!
            </button>
            <!-- Book abandoning Modal -->
            <div class="modal fade" id="abandonModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="{{ url_for('abandon_fn', labels_set=request.view_args['labels_set']) }}"
                            method="post">
                            <div class="modal-header">
                                <h4 class="modal-title">What book was not found?</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <label for="title">Book Title:</label>
                                <input type="text" id="title" name="title" class="form-control">
                                <label for="author">Book Author:</label>
                                <input type="text" id="author" name="author" class="form-control">
                            </div>
                            <div class="modal-footer">
                                <button type="submit">Confirm not-found</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="results">
                <!-- Search results will be displayed here -->
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/table.js"></script>

    <script>
        $('#search-form').on('submit', async function (event) {
            event.preventDefault();
            const coverImageUrl = "https://www.finna.fi/Cover/Show?source=Solr&invisbn=";

            const query = $('input[name="q"]').val();
            const response = await fetch("{{ url_for('search_fn', labels_set=request.view_args['labels_set']) }}" + `?q=${query}`);
            const data = await response.json();
            const resultsDiv = $('#results');
            const totalCount = data.results_count;
            resultsDiv.empty();

            // Display the total number of results
            const totalCountDiv = $('<h3>').addClass('total-count').text(`Total Results: ${totalCount}`);
            resultsDiv.append(totalCountDiv);

            if (data.results) {
                data.results.forEach(result => {
                    const resultDiv = $('<div>').addClass('result');
                    resultDiv.html(`
                        <img src="${coverImageUrl}${result.isbn}" alt="Cover Image" class="book-cover">
                        <div class="result-details">
                            <p><strong>Title:</strong> ${result.title}</p>
                            <p><strong>Authors:</strong> ${result.authors}</p>
                            <p><strong>Year:</strong> ${result.year}</p>
                            <p><strong>ISBN:</strong> ${result.isbn}</p>
                            <button class="select-btn" data-title="${result.title}" data-authors="${result.authors}" data-year="${result.year}" data-isbn="${result.isbn}">Select and new search</button>
                        </div>
                    `);
                    resultsDiv.append(resultDiv);
                });
            } else {
                resultsDiv.html('<p>No results found.</p>');
            }

            // Attach event listeners to the "Select" buttons
            $('.select-btn').on('click', async function () {
                const selectedTitle = $(this).data('title');
                const selectedAuthors = $(this).data('authors');
                const selectedYear = $(this).data('year');
                const selectedISBN = $(this).data('isbn');
                await submitSelectedResult(selectedTitle, selectedAuthors, selectedYear, selectedISBN, query);
                // Clear search results
                $('#results').empty();
                // Clear the search input field
                $('#search-input').val('');
                await populateSelectedBooksTable("{{ request.view_args['labels_set'] }}");
            });
        });

        async function submitSelectedResult(title, authors, year, isbn, searchTerms) {
            const formData = new FormData();
            formData.append('title', title);
            formData.append('authors', authors);
            formData.append('year', year);
            formData.append('isbn', isbn);
            formData.append('searchTerms', searchTerms);

            await fetch("{{ url_for('select_fn', labels_set=request.view_args['labels_set']) }}", {
                method: 'POST',
                body: formData
            }).then(response => {
                // Handle response as needed
            }).catch(error => {
                console.error('Error selecting result:', error);
            });
        }

        function split(val) {
            return val.split(/,\s*/);
        }

        // Function to extract the current term being typed
        function extractLast(term) {
            return split(term).pop();
        }

        $(document).ready(function () {
            $(".selected-books-table").load('/static/table.html');
            // Fetch and display selected books when the page loads
            populateSelectedBooksTable("{{ request.view_args['labels_set'] }}");

            $("#search-input")
                .autocomplete({
                    minLength: 3,  // Set the minimum length required to trigger autocomplete
                    source: function (request, response) {
                        const term = extractLast(request.term);

                        if (request.term.length >= 3) {
                            $.ajax({
                                url: "/autocomplete",
                                data: { q: term },
                                dataType: "json",
                                success: function (data) {
                                    response(data);
                                }
                            });
                        } else {
                            // Clear autocomplete suggestions if input is less than 3 characters
                            response([]);
                        }
                    },
                    focus: function () {
                        // prevent value inserted on focus
                        return false;
                    },
                    select: function (event, ui) {
                        var terms = split(this.value);
                        // remove the current input
                        terms.pop();
                        // add the selected item
                        terms.push(ui.item.value);
                        // add placeholder to get the comma-and-space at the end
                        terms.push("");
                        this.value = terms.join(", ");
                        return false;
                    },
                });

        });

    </script>
</body>

</html>