<!DOCTYPE html>
<html>

<head>
    <title>Books Search</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <h1>Book Search</h1>
    <div class="container-fluid">
        <div class="column centering-col">
            <a href="{{ url_for('index') }}">Back to labels selection</a>
        </div>
    </div>
    <div class="container">
        <div class="left-column">
            <!-- Selected books table -->
            <h2>Selected Books</h2>
            <table id="selected-books-table" class="selected-books-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Authors</th>
                        <th>Labels</th>
                        <th>Search count</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Selected books will be displayed here -->
                </tbody>
            </table>
        </div>
        <div class="right-column">
            <h2>Search</h2>

            <!-- Search form and results -->
            <form action="/search" method="get">
                <input type="text" id="search-input" name="q" placeholder="Enter book subject(s)" size="70">
                <button type="submit">Search</button>

                <script>
                    $(function () {
                        $("#search-input")
                        .autocomplete({
                            minLength: 3,  // Set the minimum length required to trigger autocomplete
                            source: function (request, response) {
                                const term = extractLast(request.term);

                                if (request.term.length >= 3) {
                                    $.ajax({
                                        url: "/autocomplete",
                                        data: { q: term },
                                        dataType: "json",
                                        success: function (data) {
                                            response(data);
                                        }
                                    });
                                } else {
                                    // Clear autocomplete suggestions if input is less than 3 characters
                                    response([]);
                                }
                            },
                            focus: function() {
                                // prevent value inserted on focus
                                return false;
                            },
                            select: function( event, ui ) {
                                var terms = split( this.value );
                                // remove the current input
                                terms.pop();
                                // add the selected item
                                terms.push( ui.item.value );
                                // add placeholder to get the comma-and-space at the end
                                terms.push( "" );
                                this.value = terms.join( ", " );
                                return false;
                            },
                        });

                        function split( val ) {
                            return val.split( /,\s*/ );
                        }
                        // Function to extract the current term being typed
                        function extractLast( term ) {
                            return split( term ).pop();
                        }
                    });
                </script>
            </form>
            <!-- Button to give up searching the book -->
            <button type="button" id="abandon-btn" data-toggle="modal" data-target="#abandonModal">
                Book cannot be found, proceed to next book!
            </button>
            <!-- Book abandoning Modal -->
            <div class="modal fade" id="abandonModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="/abandon" method="post">
                            <div class="modal-header">
                                <h4 class="modal-title">What book was not found?</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <label for="title">Book Title:</label>
                                <input type="text" id="title" name="title" class="form-control">
                                <label for="author">Book Author:</label>
                                <input type="text" id="author" name="author" class="form-control">
                            </div>
                            <div class="modal-footer">
                                <button type="submit">Confirm not-found</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="results">
                <!-- Search results will be displayed here -->
            </div>
        </div>
    </div>

    <script>
        document.querySelector('form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const coverImageUrl = "https://www.finna.fi/Cover/Show?source=Solr&invisbn="

            const query = document.querySelector('input[name="q"]').value;
            const response = await fetch(`/search?q=${query}`);
            const data = await response.json();
            const resultsDiv = document.getElementById('results');
            const totalCount = data.results_count
            resultsDiv.innerHTML = '';

            // Display the total number of results
            const totalCountDiv = document.createElement('h3');
            totalCountDiv.classList.add('total-count');
            totalCountDiv.textContent = `Total Results: ${totalCount}`;
            resultsDiv.appendChild(totalCountDiv);

            if (data.results) {
                data.results.forEach(result => {
                    const resultDiv = document.createElement('div');
                    resultDiv.classList.add('result'); // Add the result class
                    resultDiv.innerHTML = `
                    <img src="${coverImageUrl}${result.isbn}" alt="Cover Image" class="book-cover">
                    <div class="result-details">
                        <p><strong>Title:</strong> ${result.title}</p>
                        <p><strong>Authors:</strong> ${result.authors}</p>
                        <p><strong>Year:</strong> ${result.year}</p>
                        <p><strong>ISBN:</strong> ${result.isbn}</p>
                        <button class="select-btn" data-title="${result.title}" data-authors="${result.authors}" data-year="${result.year}" data-isbn="${result.isbn}">Select and new search</button>
                    </div>
                `;
                    resultsDiv.appendChild(resultDiv);
                });
            } else {
                resultsDiv.innerHTML = '<p>No results found.</p>';
            }

            // Attach event listeners to the "Select" buttons
            const selectButtons = document.querySelectorAll('.select-btn');
            selectButtons.forEach(button => {
                button.addEventListener('click', async () => {
                    const selectedTitle = button.getAttribute('data-title');
                    const selectedAuthors = button.getAttribute('data-authors');
                    const selectedYear = button.getAttribute('data-year');
                    const selectedISBN = button.getAttribute('data-isbn');
                    await submitSelectedResult(selectedTitle, selectedAuthors, selectedYear, selectedISBN, query);
                    // Clear search results
                    document.getElementById('results').innerHTML = '';
                    // Clear the search input field
                    document.querySelector('#search-input').value = '';
                    await fetchSelectedBooks();
                });
            });

        });

        async function submitSelectedResult(title, authors, year, isbn, searchTerms) {
            const formData = new FormData();
            formData.append('title', title);
            formData.append('authors', authors);
            formData.append('year', year);
            formData.append('isbn', isbn);
            formData.append('searchTerms', searchTerms);

            await fetch('/select', {
                method: 'POST',
                body: formData
            }).then(response => {
                // Handle response as needed
            }).catch(error => {
                console.error('Error selecting result:', error);
            });
        }

        // Function to fetch and display selected books
        async function fetchSelectedBooks() {
            const response = await fetch('/get_selected_books');
            const data = await response.json();

            const tableBody = document.querySelector('#selected-books-table tbody');
            tableBody.innerHTML = ''; // Clear existing rows

            let rowNumber = 1; // Initialize the row number

            data.selectedBooks.forEach(book => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${rowNumber}</td>
                    <td>${book.title}</td>
                    <td>${book.authors}</td>
                    <td>${book.labels_set}</td>
                    <td>${book.search_count}</td>
                `;
                tableBody.appendChild(row);

                rowNumber++; // Increment the row number for the next row
            });
        }

        // Fetch and display selected books when the page loads
        window.addEventListener('load', fetchSelectedBooks);
    </script>
</body>

</html>
